@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,700);
* {
  margin: 2;
  padding: 0;
  font-weight: 400;
  border-radius: 2px;
  font-family: "Open Sans";
}

body {
  background-color: #388087;
  color: white;
}

/* GRADIENT:
background-image: linear-gradient(45deg, #263542, #644E5B);
height: 100%;
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
*/

th {
  color: black;
  font-weight: bold;
  font-size: 125%;
  text-align: left;
}

button {
  color: black;
}

img {
  display: none;
}

td
{
    padding:0 15px;
}

img[src] {
 display: block;
}

select {
  color: black;
}

option {
  color: black;
}

.hearts {
  color: red;
}

label {
  white-space: pre-wrap;
}

input {
  color: black;
  
}

/* Navbar container */
.navbar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #6FB3B8; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  z-index: 20;
}

/* Links inside the navbar */
.navbar a, .dropbtn{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  display: inline-block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  z-index: 30;
}

.navbar .closebtn {
  position: absolute;
  color: #000000;
  top: 0;
  right: -225px;
  font-size: 36px;
  margin-left: 100px;
}

.active {
  color: white;
}

.dropdown-content {
  display: none;
  background-color: #263542;
  padding-left: 8px;
  z-index: 30;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  z-index: 30;
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media screen and (max-height: 450px) {
  .navbar {padding-top: 15px;}
  .navbar a {font-size: 18px;}
}

.navbar a:hover, .dropbtn:hover {
  color: #F1F1F1;
}

.container {
  cursor: pointer;
  z-index: 14;
  max-width: 30px;
}

.line1, .line2, .line3 {
  width: 30px;
  height: 5px;
  background-color: #263542;
  margin: 3px 0;
  z-index: 15;
}

.varContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.dot {
  position: fixed;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);
  height: 4.531vw;
  width: 4.531vw;
  background-color: #263542;
  border-radius: 50%;
  display: inline-block;
  z-index: 8;
}

.time {
  color: white;
  position: fixed;
  top: 15%;
  left: 20%;
  transform: translate(-50%, -50%);

  font-size: 2vw;
  z-index: 9;
}

.cDot {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 14.531vw;
  width: 14.531vw;
  background-color: #263542;
  border-radius: 50%;
  display: inline-block;
  z-index: 8;
}

.Sets {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  font-size: 3vw;
}

.numberOut, .nameOut, .sentenceOut {
  font-size: 2.6vw;
}
/*
.numberOut, .nameOut, .sentenceOut, .cardOut {
  border-color: #263542;
  border-right: 0.625vw solid #263542;
  border-left: 0.625vw solid #263542;
  border-top: 0.625vw solid #263542;
  border-bottom: 0.625vw solid #263542;
}
*/


.nameHead, .numberHead, .sentenceHead, .cardHead {
  font-family: monospace;
  letter-spacing: 0.1vw;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  white-space: nowrap;
  font-size: 1.7vw;
  color: #ffffff;
  background-color: #388087;
}

.numberV {
  border-left:0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 12%;
  position: fixed;
  left: 75.313%;
  margin-left: -3px;
  top: 50%;
  transform: translate(-0.625vw, -0.313vw);
  z-index: 1;
}

.numberH1 {
  border-top: 0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 25.313%;
  position: fixed;
  left: 50%;
  margin-left: -3px;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.numberHead {
  top: 50%;
  left: 62.0%;
  transform: translate(0, -50%);
  z-index: 4;
}

.numberOut {
  position: fixed;
  top: 66%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.nameH1 {
  border-top: 0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 35%;
  position: fixed;
  right: 50%;
  margin-left: -3px;
  top: 50%;
  transform: translate(-0.313vw, -0.313vw);
  z-index: 1;
}

.nameV {
  border-left:0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 13%;
  position: fixed;
  left: 15%;
  margin-left: -3px;
  bottom: 50%;
  transform: translate(-0.313vw, 0.313vw);
  z-index: 1;
}

.nameHead {
  top: 50%;
  right: 70.0%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.nameOut {
  position: fixed;
  top: 33%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.sentenceV1 {
  border-left:0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 25.65%;
  position: fixed;
  
  margin-right: 3px;
  right: 50%;
  top: 50%;
  transform: translate(50%, 0);
  z-index: 1;
}



.sentenceV2 {
  border-left:0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 11%;
  position: fixed;
  margin-left: -3px;
  left: 50%;
  top: 75.65%;
  transform: translate(-50%, -0.616vw);
  z-index: 2;
}

.sentenceHead {
  top: 75.65%;
  right: 50.0%;
  transform: translate(50%, -1.4vw);
  z-index: 4;
}

.sentenceOut {
  position: fixed;
  white-space: nowrap;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardV {
  border-left:0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 25%;
  position: fixed;
  left: 50%;
  margin-left: -3px;
  top: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.cardH1 {
  border-top: 0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 15%;
  position: fixed;
  left: 50%;
  margin-left: -3px;
  top: 25%;
  transform: translate(-0.313vw, -50%);
  z-index: 1;
}

.cardH2 {
  border-top: 0.625vw solid #263542;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  width: 6.8%;
  position: fixed;
  left: 70%;
  margin-left: -3px;
  top: 25%;
  transform: translate(0, -50%);
  z-index: 1;
}

.cardHead {
  z-index: 5;
  top: 25%;
  right: 27%;
  transform: translate(-50%, -50%);
}

.cardOut {
  position: fixed;
  top: 25%;
  left: 82%;
  transform: translate(-50%, -50%);
  width: 9.766vw;
  height: 14.180vw;
}
.form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Add styles to the form container */
.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #263542;
  color: white;
  font-size: 1.2vw;
}

.form-container h1 {
  font-size: 3vw;
}

/* Full-width input fields */
.form-container input[type=text] {
  box-sizing : border-box;
  width: 100%;
  height: 9.5vh;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 1.5vw;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 100%;
  height: 11vh;
  margin-bottom:10px;
  opacity: 0.8;
  cursor: pointer;
  font-size: 2vw;
}

.nameInLabel, .numberInLabel, .sentenceInLabel, .cardInLabel {
  color: white;
  font-size: 1.3vw;
}

.nameDisplay, .numberDisplay, .sentenceDisplay, .cardDisplay {
  padding: 10;
  margin: 0;
  table-layout: fixed;
  display: block;
  overflow-y: scroll;
  overflow-x: wrap;
  max-height: 40vh;
  min-height: 4.2vh;
  background-color: white;
  color: black;
  cursor: default;
  border-width:0;
  border:none;
  box-shadow: none;
  -ms-overflow-style: none;
  background-color: white;
}

.nameDisplay::-webkit-scrollbar, .numberDisplay::-webkit-scrollbar, .sentenceDisplay::-webkit-scrollbar, .cardDisplay::-webkit-scrollbar {
  display: none;
} 



.nameDisplay td, .numberDisplay td, .sentenceDisplay td, .cardDisplay td {
  display: block;
  cursor: pointer;
  font-size: 1.250vw;
}

.nameDisplay tr:nth-child(odd), .numberDisplay tr:nth-child(odd), .sentenceDisplay tr:nth-child(odd), .cardDisplay tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.nameIn, .numberIn, .sentenceIn, .cardNumberIn {
  border-width:0;
  border:none;
  box-shadow: none;
  font-size: 1.1vw;
}

.namePlusBtn, .sentencePlusBtn, .cardPlusBtn{
  padding: 0;
  margin: 0;
  width: 2.45vw;
  font-size: 1.1vw;
}

.nameMinusBtn, .sentenceMinusBtn, .cardMinusBtn {
  padding: 0;
  margin: 0;
  width: 4.55vw;
  font-size: 1.1vw;
}

.nameDisplay {
  width: 19.531vw;
}

.nameDisplay td {
  min-width: 16.9vw;
}

.nameIn {
  width: 11.875vw;
}

.nameSub {
  position: fixed;
  top: 40%;
  left: 13%;
  transform: translate(-50%, -50%);
}

.numberDisplay {
  width: 7.031vw;
}

.numberDisplay td {
  width: 4.4vw;
}

.numberIn {
  width: 3.672vw;
}

.numberPlusBtn {
  width: 1.328vw;
  font-size: 1.1vw;
}

.numberMinusBtn {
  width: 1.328vw;
  font-size: 1.1vw;
}

.numberSub {
  position: fixed;
  top: 40%;
  left: 31%;
  transform: translate(-50%, -50%);
}

.sentenceIn {
  width: 20.422vw;
}

.sentenceDisplay {
  width: 28.0vw;
}

.sentenceDisplay td {
  width: 25.31vw;
}

.sentenceSub {
  position: fixed;
  top: 40vh;
  left: 53.5%;
  transform: translate(-50%, -50%);
}

.cardDisplay td {
  width: 13.229vw;
}

.cardSuitIn {
}

.cardSub {
  position: fixed;
  top: 40vh;
  left: 80%;
  transform: translate(-50%, -50%);
}

.submitBtn {
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 50%;
  margin-bottom:10px;
  opacity: 0.8;
  cursor: pointer;
  font-size: 2vw;
}

th {
  color: white;
  font-size: 1.5vw;
}

.Score {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;
}

.realNameDisplay, .realNumberDisplay, .realSentenceDisplay, .realCardDisplay, .userNameDisplay, .userNumberDisplay, .userSentenceDisplay, .userCardDisplay, .spacer {
  float: left;
}

.realNameDisplay td, .realNumberDisplay td, .realSentenceDisplay td, .realCardDisplay td, .userNameDisplay td, .userNumberDisplay td, .userSentenceDisplay td, .userCardDisplay td {
  background-color: white;
  color: black
}

.Name {
  position: fixed;
  top: 25%;
  left: 20%;
  transform: translate(-50%, -50%);
}

.Number {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Sentence {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Card {
  position: fixed;
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}

#waiter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.6vw;
  overflow: visible;
}

.TestingStage {
  position: fixed;
  top: 10%;
  left: 94%;
  transform: translate(-50%, -50%);
  height: 75px;
  width: 75px;
}